<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daniloff.adanagramlite"
    android:versionCode="8"
    android:versionName="1.4.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.daniloff.adanagramlite.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daniloff.adanagramlite.ChoiceActivity"
            android:label="@string/app_name" >
            android:screenOrientation="portrait" >        </activity>
        <activity
            android:name="com.daniloff.adanagramlite.FinishActivity"
            android:label="@string/title_activity_finish" >
        </activity>
        <activity
            android:name="com.daniloff.adanagramlite.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.daniloff.adanagramlite.RulesActivity"
            android:label="@string/title_activity_rules" >
        </activity>
        <activity
            android:name="com.daniloff.adanagramlite.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.daniloff.adanagramlite.ButtonsInputActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="ADBUDDIZ_PUBLISHER_KEY"
            android:value="15363961-fa99-4a1e-9e0b-5ebc3e542d47" />
        <meta-data
            android:name="SHOW_ADBUDDIZ_LOG"
            android:value="true" />

        
    </application>

</manifest>